// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #2C2C2C;
$light-gray: #F4F4F4;
$white: #FFFFFF;
$cream: #F6F6E9;
$brown: #D6C481;
$beige: #D6C481;
$submit-btn: #4eb151;
$submit-btn-hover: #71c174;
$destroy-btn: #E61C5D;
$destroy-btn-hover:#ed5e8c;
$edit-btn: #FFDD5C;
$edit-btn-hover: #ffe380;
$icon-before: #BBBBBB;
$magenta: #6B0848;
$turquoise:#1abc9c;
$none:#F4F4F4;
$modal-color: #61B292;
$carousel:#FFFFFF;
$light-green:#83FFE6;
$light-pink:#FF5F5F;
$light-yellow: #F6C667;

$dark-green: #61C0BF;
