<div id="wrapper">
  <div class="footer">
    <div class="footer-copyright">
      <i class="fa fa-copyright"></i> EX$ Team SAVA 2018
    </div>
    <div class="footer-links">
      <a><i class="fa fa-instagram"></i></a>
      <a><i class="fa fa-facebook-f"></i></a>
      <a><i class="fa fa-twitter"></i></a>
    </div>
  </div>
</div>
