

.section {
  background-color: white;
  margin-top: 70px;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px 10px;
}

.deal-card-an {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1200px;
  margin: auto;
  background-color: white;
  box-shadow: 0.1px 0.1px 0.1px;
  border-radius: 10px;
  margin: auto;
  padding-bottom: 10px;

}

.left-in-deal {
  width: 49%;
  margin-right: 1%;
  background-color: white;
  border-radius: 10px 10px;
}

.right-in-deal {
  margin-left: 1%;
  width: 49%;
  background-color: white;
  border-radius: 10px 10px;
}

.writen-details{
  margin-top: 40px;
}

.items-in-deal{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 50px;
}

.margin-bottom{
  margin-bottom: 30px;
}


.items-display{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.requester-items {
  margin-left: 3%;
}

.answerer-items {
  margin-left: 3%;
}

.items-in-deal{
  background-color: #F4F4F4;
}

.items-outside{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 50px;
  background-color: #F4F4F4;
}

.center-deal{
  text-align: center;
}

.box{
  max-width: 450px;
  display: flex;
}

.item-2 {
  margin: 10px;
}
