.deal-payment-content-row {

  padding: 20px;
  width: 100%;
  background-image: linear-gradient(#78C1CA, #78C1CA), linear-gradient(#EF7F69, #EF7F69);
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: 50vw center, 0 center;
  #deal_price {
    width: 150px;
    margin: auto;
    background: transparent;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid white;
    border-radius: 0;
    color: white;
    font-size: 60px;
    text-align: center;
    height: 65px;
  }
}

.deal-payment-content-row.flex {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.section {
  background-color: white;
  margin-top: 70px;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px 10px;
  box-shadow: 2px 2px 3px $gray;
  padding: 20px;
}

.deal-exs-btn{
  display: block;
  padding: 10px 15px;
  margin: auto;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: $white !important;
  border: none;
  box-shadow: 0 3px #999;
}

.deal-middle-page {
  justify-content: center !important;
}
