
<div class="container">
  <div class="searchbox">
    <%= form_tag items_path, method: :get, class:'form-inline' do %>
    <div class="input-field">
      <%= text_field_tag :search, params[:search], class: 'input-search form-control', placeholder: "Search"%>
       <%= submit_tag "Search", name: nil, class: "btn btn-search" %>
        </p>
    </div>
    <% end %>
  </div>
</div>

