<h1>Deal</h1>


<ul>
  <li>Status: <%= @deal.status %></li>
  <li>Deal ID: <%= @deal.id %></li>
<!--   <li>Amount: <%= humanized_money_with_symbol(@deal.amount) %></li> -->
<ul>


  <%= link_to 'Destroy', { controller: :deals, action: :destroy }, method: :delete, data: { confirm: 'Are you sure?' } %>
