<center><h1>Edit</h1></center>
<div class="container">
<div class=create-position>
<div class="create-form">


  <%= render 'form', item: @item %>
<div class="btn-space">
<%= link_to 'Destroy', { controller: :items, action: :destroy }, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-delete" %>
</div>
</div>
</div>
</div>
