
<!-- <div class="container">
<%#= simple_form_for :item_category, url: items_path, method: :get do |f| %>
  <%#= f.input :category, :collection => @categories %>
  <%#= f.input :search, :as => :hidden, :input_html => { :value => @search} %>
  <%#= f.button :submit %>
<%# end %>

<%#= simple_form_for :item_size, url: items_path, method: :get do |f| %>
  <%#= f.input :size %>
  <%#= f.input :search, :as => :hidden, :input_html => { :value => @search} %>
  <%#= f.button :submit %>
<%# end %>

<%#= simple_form_for :item_color, url: items_path, method: :get do |f| %>
  <%#= f.input :color %>
  <%#= f.input :search, :as => :hidden, :input_html => { :value => @search} %>
  <%#= f.button :submit %>
<%# end %>
</div> -->




<div class=" indexcards container align-middle content">
  <div class="row">
    <% @items.each do |item| %>
    <div class="col-xs-12 col-sm-4">
      <%= link_to item_path(item), :class => "exchange-link" do %>
      <div class="card-position">
        <div class="card-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
      url(<%= cl_image_path item.photo, height: 300, width: 400, crop: :fill if item.photo.present? %>);">
          <p> Xchange! </p>
          <h5><%= item.name %></h5>
        </div>
      </div>
    <%end%>
    </div>
    <%end%>
  </div>
</div>


