
<div class="newitems-box">
  <div class="newitems-image newimage-1">
  </div>

  <div class="newitem-form">
    <center><h3> List your item to exchange </h3></center>
    <%= render 'form', item: @item %>
  </div>

  <div class="newitems-image  newimage-2">
  </div>
</div>



