.btn-delete {
  color: white;
  background-color: $red;
  font-size: 12px;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 30px;
  font-weight: lighter;
  opacity: 0.6;

}
.btn-delete:hover {
  opacity: 1;
  text-decoration: none;
  color: $white;
  background: $white;
}
.btn-edit {
  color: white;
  padding: 5px 10px;
  border-radius: 30px;
  font-weight: lighter;
  font-size: 12px;
  background-color: $green;
  transition: background 0.3s ease;
}
.btn-edit:hover {
  opacity: 1;
  background: $white;
  text-decoration: none;
  color: white;
}

/* Build your own button classes ! */
