.card {
  height: 200px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  padding: 10px;
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  opacity: 0.9;
}

.card:hover {
  opacity: 0.7;
  text-decoration: none;
  color: $white;
  background-color: $white;
}
.card-position {
  margin-top: 20px;
}

.card-border {
  width: 500px;
  height: 700px;

}
