.carousel {
  margin-bottom: 60px;
}

.carousel-indicators {
  font-size: 10px !important;
}

.carousel-search-text-input{
  width: 340px;
  height: 40px;
  border-radius: 7px;
}

.carousel-icon-input{
  margin-top: -5px;
  border-radius: 10px;
}

.carousel-control {
  top: 0%;
}

.carousel-caption {
  z-index: 10;
  top: 30%;
  text-align: center;
  color: $carousel;

}

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.carousel .item {
  height: 500px;
  background-color:#bbb;
  overflow:hidden;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

#searchForm {
  position:absolute;
    top:50%;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 768px) {

  .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    max-width:inherit;
  }

  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}


@media (max-width: 500px) {
 .inner-div {
  width: 150px;
  margin: 0 auto;
 }

#search {
  width: 150px !important;
  margin: 0 auto;
}
}
